

.p1{
  font-weight: bolder;
  font-size: 5vh;
  color: black;
}


.p2{
  font-weight: bolder;
  font-size: 2vh;
  color: black;
}

.margin{
  padding-top: 2%;
  padding-left: 3%;
  
  
}

.checkbox{
  font-weight: bolder;
  padding-top: 2%;
  padding-left: 3%;
}

.categories{
  font-weight: bolder;
  padding:3%;
}

.gg{
font-weight: bold;
}

.remove{
  color: aqua;
}
.icons{
  padding: 3%;
  
}